* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #eaebf5;
}

h1 {
  font-size: 2.6rem;

  text-align: center;
}

.App {
  padding: 2rem;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: #fff;
}

.form {
  display: grid;
  align-items: center;
  gap: 1rem;
  border-radius: 7px;
  grid-template-columns: 1fr 12rem;
  padding: 3.2rem 4rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  height: 1.5rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #959acc;
  border-radius: 4px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border: 1px solid #11153d;
  background-color: #eaebf5;
}

.form button {
  grid-column: 1 / -1;
  margin-top: 0.6rem;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  padding: 0.7rem;
  color: #fff;
  background-color: #2b3499;
  transition: 0.3s;
}

.form button:hover {
  background-color: #222a7a;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid #222a7a;
}

.result p {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
}

.result p:nth-child(2) {
  font-size: 1.1rem;
  margin: 0;
  color: #333;
  margin-bottom: 1.7rem;
}

.btn-reset {
  width: 50%;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  padding: 0.4rem;
  color: #fff;
  background-color: #c70039;
  transition: 0.3s;
}

.btn-reset:hover {
  background-color: #b30033;
}
